<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyMarket - Tu tienda virtual</title>
    <link rel="stylesheet" href="styles.css">

    <!-- Estilos -->
    <style>
        body {
            background-color: rgb(27, 18, 18);
        }

        h1 {
            color: white;
            font-size: 32px; /* Ajusta el tamaño del título */
            margin-bottom: 30px; /* Aumenta el espacio debajo del título */
        }

        .form {
            display: flex;
            flex-direction: column;
            gap: 20px; /* Aumenta el espacio entre los elementos del formulario */
            background-color: rgb(52, 52, 52, 0.95);
            padding: 30px;
            width: 100%; /* Haz que el formulario ocupe todo el ancho disponible */
            max-width: 500px; /* Establece un ancho máximo para el formulario */
            border-radius: 20px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave al formulario */
            margin: auto; /* Centra el formulario horizontalmente en la página */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        ::placeholder {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .form button {
            align-self: flex-end;
        }

        .flex-column > label {
            color: white;
            font-weight: 600;
        }

        .inputForm {
            border: 1.5px solid white;
            border-radius: 10px;
            height: 50px;
            display: flex;
            align-items: center;
            padding-left: 10px;
            transition: 0.2s ease-in-out;
        }

            .inputForm path {
                fill: white;
            }

                .inputForm path:focus {
                    background-color: #8B0000;
                }

        .input {
            margin-left: 10px;
            border-radius: 10px;
            border: none;
            width: 85%;
            height: 100%;
            background-color: transparent;
            color: white;
        }

            .input:focus {
                outline: none;
            }

        .inputForm:focus-within {
            border: 1.5px solid #8B0000;
        }

        .flex-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            justify-content: space-between;
        }

            .flex-row > div > label {
                font-size: 14px;
                color: black;
                font-weight: 400;
            }

        .span {
            font-size: 14px;
            margin-left: 5px;
            color: #8B0000;
            font-weight: 500;
            cursor: pointer;
        }

        .button-submit {
            margin: 20px 0 10px 0;
            border: 1px solid white;
            background-color: white;
            color: #8B0000;
            font-size: 15px;
            font-weight: 500;
            border-radius: 10px;
            height: 50px;
            width: 100%;
            cursor: pointer;
        }

            .button-submit:hover {
                border: 1px solid #8B0000;
                background-color: #8B0000;
                color: white;
            }

        .p {
            text-align: center;
            color: white;
            font-size: 14px;
            margin: 5px 0;
        }

        .btn {
            margin-top: 10px;
            width: 100%;
            height: 50px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            gap: 10px;
            border: 1px solid white;
            background-color: white;
            color: #8B0000;
            cursor: pointer;
            transition: 0.2s ease-in-out;
        }

            .btn:hover {
                border: 1px solid #8B0000;
                background-color: #8B0000;
                color: white;
            }

        .mensaje {
            color: white;
        }

        .logo-container {
            position: fixed;
            top: 10px; /* Distancia desde la parte superior */
            right: 10px; /* Distancia desde la parte derecha */
            z-index: 9999; /* Asegura que el contenedor esté por encima de otros elementos */
            background-color: rgb(52, 52, 52);
            border: 1px solid #8B0000;
            border-radius: 10px;
        }

        /* Estilo para la imagen */
        .logo-img {
            width: 100px; /* Tamaño de la imagen, ajusta según sea necesario */
            height: auto; /* Permite que la altura se ajuste automáticamente */
        }

        .contenedorIMG img {
            width: 150px;
            height: 150px;
            border-radius: 10px;
        }
    </style>
</head>

<body>
    @using (Html.BeginForm("GuardarIMG", "Productos", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form">
            <center>
                <div class="card shadow">
                    <!-- Aquí mostraremos la imagen seleccionada -->
                    @if (ViewBag.n == "0")
                    {
                        <img name="IMGusu" id="imagenPerfil" src="@ViewBag.Imagen" alt="Imagen de Perfil">
                    }
                    else
                    {
                        <img name="IMGusu" id="imagenPerfil" src="" alt="Imagen de Perfil">
                    }
                </div>
            </center>

            <!-- Botón que se muestra visualmente -->
            <label for="archivoInput" class="button-submit" id="botonExplorar">
                <center>Explorar</center>
            </label>
            <input type="file" id="archivoInput" class="explorar-btn" name="archivoInput" style="display: none;" onchange="mostrarImagen(this)" />

            <div class="flex-row">
                <button type="button" class="btn btn-primary" id="CANCELAR">CANCELAR</button>
                <button type="submit" class="btn btn-primary" id="btnGuardar">GUARDAR</button>
            </div>
        </div>
    }

    <script>
        document.getElementById("formGuardar").addEventListener("submit", function (event) {
            var confirmacion = confirm("¿Deseas guardar la imagen?");
            if (!confirmacion) {
                event.preventDefault(); // Detiene el envío del formulario si el usuario cancela
            }
        });
    </script>

    <!-- SCRIPT del boton "CANCELAR" -->
    <script>
        document.getElementById("CANCELAR").addEventListener("click", function () {
            var confirmacion = confirm("¿Regresar?");
            if (confirmacion) {
                window.location.href = "/Productos/EditarProducto";
            } else {

            }
        });
    </script>

    <!-- JavaScript para mostrar la imagen seleccionada -->
    <script>
        document.getElementById('botonExplorar').addEventListener('click', function () {
            var input = document.getElementById('archivoInput');
            // Verificar si ya hay una imagen seleccionada
            if (document.getElementById('imagenPerfil').src !== "~/Img/logo/logo_EasyMarket.png") {
                // Si hay una imagen seleccionada, abrir el explorador de archivos

            }
            else {
                input.click();
            }
        });

        function mostrarImagen(input) {
            if (input.files && input.files[0]) {
                var extension = input.files[0].name.split('.').pop().toLowerCase();
                var permitidas = ['jpg', 'jpeg', 'png']; // Extensiones permitidas

                // Verificar si la extensión del archivo está en la lista de extensiones permitidas
                if (permitidas.indexOf(extension) > -1) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        document.getElementById('imagenPerfil').src = e.target.result;
                    }

                    reader.readAsDataURL(input.files[0]);
                } else {
                    // Mostrar un mensaje de error o realizar alguna acción cuando la extensión no sea válida
                    alert("Por favor, selecciona un archivo de imagen válido (jpg, jpeg, png).");
                    // Limpiar el campo de entrada de archivos para evitar que se cargue el archivo no deseado
                    input.value = '';
                }
            }
        }
    </script>
</body>

</html>