@{
    ViewData["Title"] = "Acerca de nosotros";
}
<script src="https://kit.fontawesome.com/3d104686fa.js" crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<br />
<br />
<h1><font face="Cambria">Acerca de nosotros</font></h1>
<br /><br />

<style>
    h1 {
        font-size: 72px;
        background: -webkit-linear-gradient(90deg, #8C092E, #361213);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    body {
        background: #E0C3FC;
        background: linear-gradient(62deg, #E0C3FC 0%,#8EC5FC 100%);
        margin-top: 20px;
    }

    .card-box {
        padding: 20px;
        border-radius: 3px;
        margin-bottom: 30px;
        /* background-color: transparent;
        opacity: initial;  */
        background-color: rgba(0,0,0,0.2);
        color: rgba(0,0,255,0.8);
        border: 5px solid rgba(255, 0, 0, 0.2);
        box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    }

    .social-links li a {
        border-radius: 50%;
        color: rgba(121, 121, 121, .8);
        display: inline-block;
        height: 30px;
        line-height: 27px;
        border: 2px solid rgba(121, 121, 121, .5);
        text-align: center;
        width: 30px
    }

        .social-links li a:hover {
            color: #797979;
            border: 2px solid #797979
        }

    .thumb-lg {
        height: 88px;
        width: 88px;
    }

    .img-thumbnail {
        padding: .25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        max-width: 100%;
        height: auto;
    }

    .text-pink {
        color: #ff679b !important;
    }

    .btn-rounded {
        border-radius: 2em;
    }

    .text-muted {
        color: #98a6ad !important;
    }

    h4 {
        line-height: 22px;
        font-size: 18px;
    }
</style>

<div class="content">
    <div class="container">
        <!-- end row -->
        <div class="row">
            <div class="col-lg-4">
                <div class="text-center card-box">
                    <div class="member-card pt-2 pb-2">
                        <div class="thumb-lg member-thumb mx-auto"><img src="~/Equipo/Daniel.jpeg" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                        <div class="">
                            <h4>Gatica Garcia Daniel</h4>
                            <p><font color="grey" face="Georgia">IPN MARKET</font></p>
                        </div>
                        <ul class="social-links list-inline">
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.facebook.com/daniel.gaticagarcia?mibextid=ZbWKwL" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://mail.google.com/mail/u/0/?hl=es-419#inbox?compose=GTvVlcSMTSDwZTrHjhDKqzcKllmCBnkCtTpqqnrPsBZrkLgRqlGGHxxZgGnfFrbLngwXKsVnnNfdB" data-original-title="Gmail"><i class="fa-regular fa-envelope"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.instagram.com/d_gatica_g?igsh=ZTlsNHFyb3hlcWZm" data-original-title="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="text-center card-box">
                    <div class="member-card pt-2 pb-2">
                        <div class="thumb-lg member-thumb mx-auto"><img src="~/Equipo/Gabriel.jpeg" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                        <div class="">
                            <h4>Lazcano Roldán Gabriel</h4>
                            <p><font color="grey" face="Georgia">IPN MARKET</font></p>
                        </div>
                        <ul class="social-links list-inline">
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.facebook.com/gab.rl.3?mibextid=ZbWKwL" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://mail.google.com/mail/u/0/?hl=es-419#inbox?compose=CllgCKCFTfPLpCSvtHFtpGKktpPBrgqSFWZCghTHxjSWZZSMWQgkFSFbqJZlFmXNRFQzTFgpMpL" data-original-title="Gmail"><i class="fa-regular fa-envelope"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.instagram.com/gab.rl.3?igsh=MTY4bmJzMXlwaDl2Zg==" data-original-title="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="text-center card-box">
                    <div class="member-card pt-2 pb-2">
                        <div class="thumb-lg member-thumb mx-auto"><img src="~/Equipo/Yael.jpeg" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                        <div class="">
                            <h4>Mercado Flores Javier Yael</h4>
                            <p><font color="grey" face="Georgia">IPN MARKET</font></p>
                        </div>
                        <ul class="social-links list-inline">
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.facebook.com/yael.mercado.1481?mibextid=ZbWKwL" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://mail.google.com/mail/u/0/?hl=es-419#inbox?compose=DmwnWrRlQHTcfXBZvCTzWpfBpZxjBcplrSMLWRPSwjwLrkGFKCSFnKQvSHtljhLtVChQccFMXHtQ" data-original-title="Gmail"><i class="fa-regular fa-envelope"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.instagram.com/yaelmflores?utm_source=qr&igsh=MWIwcmdkNWNyendzdA==" data-original-title="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-lg-4">
                <div class="text-center card-box">
                    <div class="member-card pt-2 pb-2">
                        <div class="thumb-lg member-thumb mx-auto"><img src="~/Equipo/Cris.jpeg" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                        <div class="">
                            <h4>Rosas Rojas Cristopher Emanuel</h4>
                            <p><font color="grey" face="Georgia">IPN MARKET</font></p>
                        </div>
                        <ul class="social-links list-inline">
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.facebook.com/cristopher.rosas.378?mibextid=ZbWKwL" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://mail.google.com/mail/u/0/?hl=es-419#inbox?compose=GTvVlcRzBWVJXxgSGvgQDBKTlzNGVhbBjgCzqPjVfbdkqzwfFSgsdFWVsprCPSZsRLCQkZQHbXtTm" data-original-title="Gmail"><i class="fa-regular fa-envelope"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.instagram.com/cristopher.rosas.3781?igsh=cDB6aWthZm5razdt" data-original-title="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="text-center card-box">
                    <div class="member-card pt-2 pb-2">
                        <div class="thumb-lg member-thumb mx-auto"><img src="~/Equipo/Tere.jpg" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                        <div class="">
                            <h4>Rodriguez Hernandez Maria Teresa</h4>
                            <p><font color="grey" face="Georgia">IPN MARKET</font></p>
                        </div>
                        <ul class="social-links list-inline">
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.facebook.com/profile.php?id=100026556381808&mibextid=ZbWKwL" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://mail.google.com/mail/u/0/?hl=es-419#inbox?compose=DmwnWrRrlQphlrXFPppDZBTzTWkqmdjHvZKhNgVKQrGvPPrPrsCJhQXjJksbKCjCzXChWLHFPVWv" data-original-title="Gmail"><i class="fa-regular fa-envelope"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.instagram.com/marwtr129_?igsh=MW1zOWNzemwwNTFwaA==" data-original-title="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="text-center card-box">
                    <div class="member-card pt-2 pb-2">
                        <div class="thumb-lg member-thumb mx-auto"><img src="~/Equipo/Clara.jpeg" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                        <div class="">
                            <h4>Velasco San Juan Clara Viridiana</h4>
                            <p><font color="grey" face="Georgia">IPN MARKET</font></p>
                        </div>
                        <ul class="social-links list-inline">
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.facebook.com/clara.sjv247?mibextid=ZbWKwL" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://mail.google.com/mail/u/0/?hl=es-419#inbox?compose=CllgCJTHVcBbXMXSqjLsmqKlcmwGsrlzhjSRgqmRcMhbpgwftMqcfxRWrpbKPxdBplcHKBqcvCL" data-original-title="Gmail"><i class="fa-regular fa-envelope"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.instagram.com/whveelviri?igsh=MWVvc3hzNXBpN2VkcQ==" data-original-title="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
        <!-- end row -->
        <!-- end row -->
    </div>
    <!-- container -->
</div>